body {
  background-color: var(--color-lightPink);
  background-image: url("../../assets/images/background-pattern-desktop.svg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 100vh;
}